<!DOCTYPE html>
<html lang="en">
    {% csrf_token %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" class="post-form" action="#"> 
        {% csrf_token %} 
        <label for="Name">Name:</label><br>
        <input type="text" id="Name" name="Name"><br>
        <label for="Age">Age:</label><br>
        <input type="text" id="Age" name="Age"><br>
        <label for="Email">Email:</label><br>
        <input type="text" id="Email" name="Email"><br>
        <label for="Mobile_no">Mobile_no</label><br>
        <input type="text" id="Mobile_no" name="Mobile_no"><br>




        <input type="submit">

      </form>
    
</body>
</html>